@model Cmentarz.DAL.Models.Zmarly

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Zmarly</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Imie)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Imie)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nazwisko)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nazwisko)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataUrodzenia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataUrodzenia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataSmierci)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataSmierci)
        </dd>
        <dt class = "col-sm-2">
            @*@Html.DisplayNameFor(model => model.Grobowiec)*@
        </dt>
        <dd class = "col-sm-10">
            @*@Html.DisplayFor(model => model.Grobowiec.Lokalizacja)*@
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdZmarly">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
